################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApp/node_modules
/WebApp/.angular/cache/16.0.0
